<div class="page-header">
  <h3>Connection #<%= @connection.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @connection.user_id %></dd>

      <dt>Contact</dt>
      <dd><%= @connection.contact_id %></dd>

      <dt>How we met</dt>
      <dd><%= @connection.how_we_met %></dd>

      <dt>When we met</dt>
      <dd><%= @connection.when_we_met %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/connections" class="btn btn-primary">
        Back
      </a>
      <a href="/connections/<%= @connection.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_connection/<%= @connection.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
