<div class="page-header">
  <h3>Latest Interaction with <%= @latest_interaction.connect.contact.first_name %> <%= @latest_interaction.connect.contact.last_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @latest_interaction.date %></dd>

      <dt>Interaction</dt>
      <dd><%= @latest_interaction.interaction %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/latest_interactions" class="btn btn-primary">
        Back
      </a>
      <a href="/latest_interactions/<%= @latest_interaction.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_latest_interaction/<%= @latest_interaction.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
