<div class="page-header">
  <h1>
    Latest jobs
    <a href="/latest_jobs/new" class="btn btn-lg btn-success">New Latest job</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Job description</th>
        <th>Date</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @latest_jobs.each do |latest_job| %>
      <tr>
        <td><%= latest_job.job_description %></td>
        <td><%= latest_job.date %></td>
        <td><%= latest_job.user_id %></td>
        <td>
          <a href="/latest_jobs/<%= latest_job.id %>" class="btn btn-primary">Show</a>
          <a href="/latest_jobs/<%= latest_job.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_latest_job/<%= latest_job.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
