<!-- Validation failure messages -->
<% if @latest_job.errors.any? %>
  <% @latest_job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Latest Job</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_latest_job" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for job_description -->
      <div class="form-group">
        <label for="job_description" class="control-label">
          Job description
        </label>

        <input type="text" id="job_description" name="job_description" placeholder="Job description" class="form-control" value="<%= @latest_job.job_description %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @latest_job.date %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @latest_job.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Latest Job
      </button>
      or
      <a href="/latest_jobs">Cancel</a>
    </form>
  </div>
</div>
